[flake8]
max-line-length = 999
extend-exclude =
    .git
    .venv
    qvalhalla/third_party
    qvalhalla/help
    qvalhalla/resources
    qvalhalla/gui/compiled/*
    qvalhalla/__init__.py
    qvalhalla/plugin.py
    tests/utilities.py
    tests/qgis_interface.py

per-file-ignores =
    # import file after initializing QGIS
    tests/__init__.py: E402
    tests/test_localhost_docker/test_e2e.py: E402
    tests/test_localhost_docker/test_processing/test_routing/test_valhalla_directions.py: E402
    tests/test_localhost_docker/test_processing/test_routing/test_valhalla_isochrones.py: E402
    tests/test_localhost_docker/test_processing/test_routing/test_valhalla_expansion.py: E402
    tests/test_localhost_docker/test_processing/test_routing/test_valhalla_matrix.py: E402
    tests/test_localhost_docker/test_utils/test_layer_utils.py: E402
    tests/test_localhost_docker/test_core/test_results_factory.py: E402
    tests/test_localhost_docker/test_gui/test_widgets/test_waypoint_widget.py: E402
    tests/test_localhost_docker/test_gui/test_widgets/test_router_widget.py: E402
    tests/test_localhost_docker/test_gui/test_routing_dlg.py: E402
    tests/test_localhost_docker/test_gui/test_about_dlg.py: E402
    tests/test_localhost_plugin/test_gui/test_widgets/test_widget_router.py: E402
ignore = E203,E266,E501,W503,F403,E722, QGS105
max-complexity = 10